{% extends '::base.html.twig' %}

{% trans_default_domain 'cocorico_listing' %}

{%- block meta_title -%}
    {{ 'listing.new.meta_title'|trans({}, 'cocorico_meta') ~ " - " ~ cocorico_site_name }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'listing.new.meta_desc'|trans({}, 'cocorico_meta') }}
{%- endblock -%}

{% block stylesheets %}
    {{ parent() }}

    <style>
        #map-listing {
            width: {{ listing_new_map_w }}%;
            height: {{ listing_new_map_h }}px;
        }
    </style>
{% endblock %}

{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'cocorico_listing' %}

        {% block breadcrumbs %}
        {% endblock %}

        {% block search_form %}
        {% endblock %}
        
        {% block main %}
            <div class="container">
                <div class="col-xs-12">
                        
                    {{ form_start(form, {'attr': {'class': 'form'}}) }}
    
                    <div class="listing-section">
                        <fieldset>
                            <legend class="hidden">listing-section</legend>
                            <!-- alert -->
                            <div class="head">
                                <h1>{{ 'listing.new.title'|trans }}</h1>
    
                                <p><strong>{{ 'listing.new.publish.notice'|trans }}</strong></p>
                            </div>
    
                            {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}
                            {{ form_errors(form) }}
    
                            <div class="holder">
                                <div class="form-selection">
                                    <div class="form-block block1">
                                        <div class="selection-holder">
                                            {{ render(controller('CocoricoCoreBundle:Frontend/ListingCategories:categoriesForm', {'listing': listing})) }}
                                        </div>
                                    </div>
                                </div>
    
                                <div class="form-listing-info">
                                    <h2>{{ 'listing.description.title'|trans }}</h2>
                                    {#For html customizations see views\form\translations.html.twig#}                                
                                    {{ form_widget(form.translations) }}
                                </div>
                                <div class="file-selection">
    
                                    <h2>{{ 'listing.edit.various_information.title'|trans }}</h2>
                                    <strong class="sub-heading">{{ 'listing_edit.photos.title'|trans({'%max_images%': listing_img_max}) }}</strong>
    
                                    <div class="area">
                                        <div class="uploader">
                                            <div id="images-new">
                                                {{ form_errors(form.image.new) }}
                                                {{ form_widget(form.image.new) }}
    
                                                {{ form_errors(form.image.uploaded) }}
                                                {{ form_widget(form.image.uploaded ) }}
                                            </div>
                                        </div>
                                        <div class="detail">
                                            <p>{{ 'listing_edit.photos.details'|trans }}</p>
                                        </div>
                                        <div style="clear:both"></div>
                                        <div id="drop-zone">
                                            {{ 'listing.drop.files'|trans }}
                                        </div>
                                        <h3>{{ 'listing.images.to_upload.title'|trans }}</h3>
                                        <ul id="files-to-upload" class="images-list"></ul>
                                    </div>
                                    <!-- files-list -->
                                    <div class="files-list">
                                        <ul class="images-list">
                                            {% for image in listing.images %}
                                                <li>
                                                    <img src="{{ image.getWebPath | imagine_filter('listing_xsmall') }}"
                                                            alt=""/>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="block">
                                    <h2>{{ form_label(form.designer) }}</h2>
                                    {{ form_widget(form.designer) }}

                                    <h2>{{ 'listing.new.price.title'|trans }}</h2>                            
                                    <!-- price-box -->
                                    <div class="area">
                                        <div class="price-box">
                                            <strong class="title">
                                                {{ 'listing.new.price.rent'|trans }}
                                            </strong>
    
                                            <div class="field-row">
                                                {{ form_errors(form.price) }}
                                                <span class="label">
                                                    {{ form_label(form.price, 0|add_time_unit_text|capitalize) }}
                                                </span>
                                                {{ form_widget(form.price, {
                                                    'attr': {
                                                        'class': 'numbers-only form-control',
                                                        'help':  'listing.edit.price.help'|trans
                                                    }
                                                }) }}
                                            </div>
    
                                            {% if bundleExist('CocoricoDeliveryBundle') %}
                                                {% include '@CocoricoDelivery/Frontend/Listing/_form_delivery.html.twig' with {
                                                'form': form
                                                } only %}
                                            {% endif %}
                                        </div>
    
                                        <div class="price-box small-box">
                                            <strong class="title">
                                                {{ 'listing.new.price.retail'|trans }}
                                            </strong>
                                            
                                            <div class="field-row">
                                                {{ form_errors(form.retailprice) }}
                                                {{ form_widget(form.retailprice, {
                                                    'attr': {
                                                        'class': 'numbers-only form-control',
                                                        'help': 'listing.edit.retailprice.help'|trans
                                                    }
                                                }) }}
                                            </div>
                                        </div>                                    
                                    </div>
    
                                    <div class="area">
                                        <div class="row">
                                            <h2 class="float-left">{{ 'listing.form.selloption'|trans }}</h2>
                                            <div class="float-left">
                                                {{ form_widget(form.selloption) }}
                                            </div>                                        
                                        </div> 
    
                                        <div id="sell-price-box" class="price-box small-box">
                                            <strong class="title">
                                                {{ 'listing.form.sellprice'|trans }}
                                            </strong>
    
                                            <div class="field-row">
                                                {{ form_errors(form.sellprice) }}
                                                {{ form_widget(form.sellprice, {
                                                    'attr':{
                                                        'class': 'numbers-only form-control',
                                                        'help': 'listing.edit.sellprice.help'|trans
                                                    }
                                                }) }}                                            
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="area">
                                        <h2>{{ 'listing.form.salenotes'|trans }}</h2>
                                        {{ form_widget(form.salenotes) }}
                                    </div>

                                    <div class="area">
                                        <h2>{{ form_label(form.sizefitinfo) }}</h2>
                                        {{ form_widget(form.sizefitinfo) }}
                                    </div>
    
    
    
                                    <!-- alert -->
                                    <div role="alert" class="alert alert-warning">
                                        <i class="ico exclamation">!</i>
    
                                        <p>
                                            {{ 'listing.new.price_notice'| trans }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
                        <div class="form-signup validate-form">
                            <fieldset>
                                <legend class="hidden">form signup</legend>
                                <h2>{{ 'listing.new.signup.title'|trans }}</h2>
                                {% include '@CocoricoUser/Frontend/Common/_login_register.html.twig' with {
                                'form_registration' : form.user,
                                'form_login': form.user_login
                                } only %}
                            </fieldset>
                        </div>
                    {% endif %}
                    <div class="btns-area new-listing">
    
                        <div id="progress" class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        {{ form_widget(form.action) }}
                        <div class="text-center row col-centered">
                            {{ form_widget(form.publish) }}
                            {{ form_widget(form.preview) }}
                            {{ form_widget(form.draft) }}                        
                        </div>
    
                    </div>
                    {{ form_end(form) }}
                </div> <!-- /.col-xs-12 -->
            </div> <!-- /.container -->
        {% endblock %}

    {% endembed %}

    <div id="list_preview" class="modal fade" role="dialog" >
        <div class="modal-dialog" style="width:1400px;">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              
            </div>
            <div class="modal-body">
                <div id="content" class="listing-area col-xs-12 col-md-9">
                    <div class="content-holder">
                        <div class="listing-container">
                            <h1 id="preview_title"></h1>
                            <div role="tabpanel">
                                <nav class="tabset-holder">
                                    <ul class="nav nav-tabs" rol="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#photos" data-toggle="tab" role="tab" data-text="Photos">Photos</a>
                                        </li>
                                        <li role="presentation" rol="presentation">
                                            <a href="#calendar" data-toggle="tab" role="tab" data-text="Calendar">Calendar</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav nav-tabs -->
                                    <a class="link-favourit favourit">
                                                            Add to favorites
                                                            <i class="icon-heart"></i>
                                                        </a>
                                </nav>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="photos">
                                        <div class="gallery-slider gallery-js-ready not-enough-slides autorotation-disabled">
                                            <div class="gallery-slideset">
                                                <div class="slide active" style="display: block;">
                                                    <canvas id="preview_canvas"></canvas>
                                                </div>
                                            </div>
                                            <!-- gallery-slideset -->
                                        </div>
                                        <!-- gallery-slider -->
                                    </div>
                                    <!-- #photos -->
                                    <div role="tabpanel" class="tab-pane" id="calendar">
                                        <div class="date-slider">
                                            <div id="calendar-container">

                                            </div>
                                        </div>
                                    </div>
                                    <!-- #calendar -->
                                </div>
                                <!-- /.tab-content" -->
                            </div>
                            <!-- /.tab-panel-->
                            <div role="tabpanel">
                                <nav class="tabset-holder">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="active">
                                            <a data-toggle="tab" data-text="Description">Description</a>
                                        </li>
                                        <li>
                                            <a href="#conditions" data-toggle="tab" data-text="Rules">Rules</a>
                                        </li>
                                        <li>
                                            <a href="#features" data-toggle="tab" data-text="Characteristics">Characteristics</a>
                                        </li>
                                        <li>
                                            <a href="#comments" data-toggl="tab" data-text="Comments">Comments</a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- tabset-holder-->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="preview_description">
                                        
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="conditions">
                                        <p></p>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="features">
                                        <div class="features-area"></div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="comments">
                                        <div class="blog">
                                            <div class="head">
                                                <h2>Last comments</h2>
                                            </div>
                                            <div class="posts-holder">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tab-content -->
                            </div>
                        </div>
                        <!-- /.listing-container -->
                    </div>
                    <!-- /.content-holder -->
                </div>
                <!-- /.listing-area -->

                <aside id="sidebar" class="col-xs-12 col-md-3">
                    <div class="holder">
                        <div class="sub-head">
                            <ul class="list-inline social-networks text-right">
                                <li><a><i class="icon-facebook"><span class="hidden">facebook</span></i></a></li>
                                <li><a><i class="icon-twitter"><span class="hidden">twiter</span></i></a></li>
                                <li><a><i class="icon-gplus"><span class="hidden">Google Plus</span></i></a></li>
                            </ul>
                            <span class="counter">
                                                    (
                                                        <span>0</span> comments)
                            </span>
                        </div>
                        <!-- /.sub-head -->

                        <section class="widget reservation ajax-container">
                            <form>
                                <fieldset>
                                    <legend class="hidden">date-selection</legend>
                                    <div class="datepicker-holder-ajax">
                                        <div class="col">
                                            <strong class="title">
                                                                    <label for="date_range_start" class="required">Start</label>
                                                                    <span>*</span>
                                                                </strong>
                                            <div class="input-append date field-holder">
                                                <span class="add-on">
                                                                        <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar"></i>
                                                                    </span>
                                                <input type="text" id="start-date" required="required" class="form-control from hasDatepicker" placeholder="/   /" title="start-date">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <strong class="title">
                                                                    <label for="date_range_end" class="required">End</label>
                                                                </strong>
                                            <div class="input-append date field-holder">
                                                <span clas="add-on">
                                                                        <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar"></i>
                                                                    </span>
                                                <input type="text" id="end-date" required="required" class="form-control from hadDatepicker" placeholder="/     /" title="end-date">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                            <div class="add-info">
                                <strong id="preview_price" class="price">
                                                        
                                                    </strong>
                                <a href="" id="submit-booking" class="btn btn-default">Book now</a>
                                <span class="text">Excluding booking fees</span>
                            </div>
                        </section>

                        <section class="widget prices-conditions">
                            <h2>Booking policy</h2>
                            <ul>
                                <li>
                                    Cancellation policy:
                                    <strong>Flexible</strong>
                                    <button data-placement="right" data-toggle="tooltip" class="tooltip-button" data-html="true" type="button"> ? </button>
                                </li>
                            </ul>
                        </section>

                        <section class="widget members-list">
                            <div id="user_contact" class="gallery-small slideshow gallery-js-ready not-enough-slides autorotation-disabled">
                                <div class="slideset">
                                    <div class="slide active" style="display: block;">
                                    </div>
                                </div>

                                <h2>
                                    <a href="">
                                                            Matthieu
                                                        </a>
                                </h2>

                                <form class="widget form-msg" method="post" action="/en/dashboard/message/1162958599/new" novalidate="novalidate">
                                    <fieldset>
                                        <a class="contact-opener btn btn-default no-margin">Contact me</a>
                                        <div class="form-holder" style="display:none;">
                                            <span class="jcf-textarea"><div class="jcf-scrollable-wrapper" style="position: relative; width: 100px; height: 0px;"><textarea id="message_body" name="message[body]" required="required" rows="6" style="overflow: hidden; resize: none; width: 91px; height: 0px; touch-action: none;"></textarea><div class="jcf-scrollbar jcf-scrollbar-vertical jcf-inactive" style="touch-action: pan-x; position: absolute; height: 0px;"><div class="jcf-scrollbar-dec jcf-inactive" style=""></div><div class="jcf-scrollbar-slider" style="position: relative; height: 0px;"><div class="jcf-scrollbar-handle" style="touch-action: none; position: absolute; top: 0px;"></div></div><div class="jcf-scrollbar-inc jcf-inactive" style=""></div></div><div class="jcf-scrollbar jcf-scrollbar-horizontal" style="touch-action: pan-y; position: absolute; width: 91px;"><div class="jcf-scrollbar-dec"></div><div class="jcf-scrollbar-slider" style="position: relative; width: 63px;"><div class="jcf-scrollbar-handle" style="touch-action: none; position: absolute; left: 63px;"></div></div><div class="jcf-scrollbar-inc jcf-inactive"></div></div></div><span class="jcf-resize" style=""></span></span>
                                            <input type="hidden" id="message__token" name="message[_token]" value="BA9hGnT7Y89Wn9MBSwW7Vynu8VIaloIQylAYMWdbWS0">
                                            <input type="hidden" id="message_listing" name="message[listing]" value="1162958599"><input type="hidden"
                                                id="message_recipient" name="message[recipient]" value="1765653660"><input type="hidden" id="message_subject"
                                                name="message[subject]" value="Contact">
                                            <input type="submit" class="btn submit-contact btn-default" value="Send">
                                        </div>
                                    </fieldset>
                                </form>

                                <ul class="info-list">
                                    <li>
                                        <i class="icon-cancel"></i> Phone:
                                        <strong>Not verified</strong>
                                        <button title="" data-placement="right" data-toggle="tooltip" class="tooltip-button" type="button" data-original-title="This user's phone number has been verified.">?
                                                                </button>
                                    </li>

                                    <li>
                                        Email:
                                        <i class="icon-cancel"></i>
                                        <strong>Not verified</strong>
                                        <button title="" data-placement="right" data-toggle="tooltip" class="tooltip-button" type="button" data-original-title="Display help while mouse hover">?
                                                                </button>
                                    </li>
                                    <li>
                                        ID Card:
                                        <i class="icon-cancel"></i>
                                        <strong>Not verified</strong>
                                        <button title="" data-placement="right" data-toggle="tooltip" class="tooltip-button" type="button" data-original-title="This user has provided a copy of his ID.">?
                                                                </button>
                                    </li>
                                    <li>
                                        Already rent:
                                        <i class="icon-cancel"></i>
                                        <strong>no</strong>
                                        <button title="" data-placement="right" data-toggle="tooltip" class="tooltip-button" type="button" data-original-title="Display help while mouse hover">?
                                                                </button>
                                    </li>

                                </ul>

                                <a href="#" class="btn-prev">previous
                                                        <span></span>
                                                    </a>
                                <a href="#" class="btn-next">next
                                                        <span></span>
                                                    </a>
                            </div>
                        </section>

                        <section class="widget similar-ads">
                            <h2>Similar Listings</h2>

                            <div class="listing-holder">
                                <!-- post -->
                            </div>
                            <a class="btn btn-default" href="">Back to search result</a>
                        </section>
                    </div>
                    <!-- /.holder -->
                </aside>
                <!-- /#sidebar -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
      </div>

{% endblock layout %}

{% block javascripts %}
    {{ parent() }}

    {#Geocoding #}
    {% include '@CocoricoCore/Frontend/Listing/js/_geocoding_js.html.twig' with {
    'map_elt': '#map-listing',
    'marker_draggable': true
    } only %}


   

    {#Translations#}
    {% include '@CocoricoCore/Frontend/Listing/js/_translator_js.html.twig' only %}


    {#Files upload#}
    {% include '@CocoricoCore/Frontend/Common/js/_upload_js.html.twig' with {
    'upload_elt': '#listing_image_new',
    'upload_images': '#listing_image_uploaded',
    'upload_url': oneup_uploader_endpoint('listing_images') ~ "?listing_id=0" ,
    'upload_max': listing_img_max - listing.images.count,
    } only %}


    <script>
        $(function () {
            {#Currency conversion#}
            currencyConversionHandler('#convert_amount_one', '#convert_amount_two', '#convert_currency_two');

            //Disable submit button on click
            $("[type=submit]").click(function (e) {
                $(this).prop('disabled', true);
            });

            $('#listing_publish').click(function(e) {
                $('#listing_action').val('publish');
            });

            $('#listing_draft').click(function(e) {
                $('#listing_action').val('draft');
            });

            $('#listing_preview').click(function(e) {
                /*var destCanvas = $('#preview_canvas');*/
                var destCanvas = document.getElementById('preview_canvas');    
                destCanvas.width = $('#preview_canvas').parent().width();
                destCanvas.height = $('#preview_canvas').parent().height();
                var destCtx = destCanvas.getContext('2d');
                /*var sourceCanvas = $('#files-to-upload>li:first-child>div>canvas');*/
                /*
                var sourceCanvases = document.getElementById('files-to-upload').getElementsByTagName('canvas');

                // If canvas count <= 0
                var sourceCanvas;
                if(sourceCanvases.length > 0)
                {
                    if (sourceCanvases.length == 0)
                        sourceCanvas = sourceCanvases;
                    else
                        sourceCanvas = sourceCanvases[0];

                    var sourceCtx = sourceCanvas.getContext('2d');                
                    destCtx.drawImage(sourceCanvas, 0, 0, sourceCanvas.width, sourceCanvas.height, 0, 0, destCanvas.width, destCanvas.height);
                }
                */
                var sourceImage = new Image;
                sourceImage.onload = function () {
                    destCtx.drawImage(sourceImage, 0, 0, sourceImage.width, sourceImage.height, 0, 0, destCanvas.width, sourceImage.height / sourceImage.width * destCanvas.width);
                }
                if( filesToUpload.length > 0)
                {
                    sourceImage.src = URL.createObjectURL(filesToUpload[fileId - 1]);
                }

                // Set Description value
                $('#preview_description').html('<p>'+ $('#listing_translations_en_description').val() +'</p>');

                // Set Title value
                $('#preview_title').html($('#listing_translations_en_title').val());
                
                // Set Price value
                if ($('#listing_price').val() !='')
                    $('#preview_price').html('$' + $('#listing_price').val());
                
                $('#list_preview').modal('toggle');
            });
        });

        $(document).ready(function() {
            if($(this).is(":checked")) {
                $('#sell-price-box').show();
                return;
            }
            else {
                $('#sell-price-box').hide();
            }

            $('#listing_selloption').change(function() {
                if($(this).is(":checked")) {
                    $('#sell-price-box').show();
                    return;
                }
                $('#sell-price-box').hide();
            });
        });
    </script>
{% endblock %}
