{% extends '::base.html.twig' %}

{% trans_default_domain 'cocorico_listing' %}

{% set optionBundleEnabled = bundleExist('CocoricoListingOptionBundle') %}
{% set categoryFieldBundleEnabled = bundleExist('CocoricoListingCategoryFieldBundle') %}

{% set listing_translation = listing.translations[app.request.locale] %}
{% set listing_location = listing.location %}
{% set price = listing.priceDecimal | format_price(app.request.locale, 0) %}
{% set listing_user = listing.user %}

{%- block meta_title -%}
    {{ 'listing.show.meta_title'|trans({}, 'cocorico_meta') ~ " " ~ listing_translation.title ~ " - " ~ listing.priceDecimal ~ " " ~ currencySymbol(currentCurrency) ~ "/" ~  0|add_time_unit_text ~ " - " ~ cocorico_site_name }} }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'listing.show.meta_desc'|trans({}, 'cocorico_meta') ~ ' ' ~ listing_translation.description|truncate(200, true) }}
{%- endblock -%}

{%- block open_graph_data -%}
    <meta property="og:title" content="{{ listing_translation.title }}"/>
    <meta property="og:description" content="{{ listing_translation.description|slice(0, 200, true) }}"/>
    {% if listing.images|length %}
        <meta property="og:image"
              content="{{ (ListingImageConstants.IMAGE_FOLDER ~ listing.images[0].name) | imagine_filter('listing_large') }}"/>
    {% endif %}
{%- endblock -%}


{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    'css/vendor/fullcalendar.min.css'
    'css/fullcalendar-override.css'

    filter='cssrewrite, ?minifycsscompressor' output='css/compiled/fullcalendar.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}



{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'cocorico_listing' %}

        {% block main %}
        <div class="content">
            <!-- two-columns -->
            <div class="twocolumns row alt">
                <!-- contain the main content of the page -->
                <div id="content" class="listing-area col-xs-12 col-md-8">
                    <div class="content-holder">
                        <!-- listing-container -->
                        <div class="listing-container">
                            <h1 class="text-right">                                
                                {%- if app.user is not null and is_granted("IS_AUTHENTICATED_FULLY") and app.user == listing_user %}
                                    <a class="btn btn-default"
                                        href="{{ path('cocorico_dashboard_listing_edit_presentation', { 'id': listing.id }) }}">
                                        {{ 'listing.edit.edit'|trans }}
                                    </a>
                                {% endif %}
                            </h1>

                            <div class="row" id="photos">
                                <!-- gallery-slider -->
                                <div class="gallery-slider">
                                    <div class="gallery-slideset">
                                        {% for image in listing.images %}
                                            <!-- slide -->
                                            <div class="slide" {% if loop.index > 1 %} style="display:none;"{% endif %}>
                                                <img src="{{ (ListingImageConstants.IMAGE_FOLDER ~ image.name) | imagine_filter('listing_xxlarge') }}"
                                                        alt="{{ listing_translation.title ~ " " ~ price }}"/>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <!-- vertical-slider -->
                                    <div class="vertical-holder">
                                        <div class="vertical-slider">
                                            <div class="vertical-slideset">
                                                {% for image in listing.images %}
                                                    <!-- vertical-slide -->
                                                    <div class="vertical-slide">
                                                        <a href="">
                                                            <img src="{{ (ListingImageConstants.IMAGE_FOLDER ~ image.name) | imagine_filter('listing_xxmedium') }}"
                                                                    alt="{{ listing_translation.title ~ " " ~ price }}"/>
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn-prev text-center">previous</a>
                                    <a href="#" class="btn-next text-center">next</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /#content -->

                <!-- contain sidebar of the page -->
                <aside id="sidebar" class="col-xs-12 col-md-4">
                    <div class="holder">
                        <div class="sub-head">
                            <h1 class="color-pink text-left designer-name">{{ listing_user.firstName|upper }} {{ listing_user.lastName|upper }}</h1>
                            <h2 class="text-left listing-title">{{ listing_translation.title }}</h2>
                            <!-- rating -->
                            {% if listing.averageRating %}
                                {{ listing.averageRating | cocorico_star_rating }}
                            {% endif %}
                            <span class="counter">
                                (
                                <span>{{ listing.commentCount }}</span>
                                {{ 'listing.show.comments'|trans }})
                            </span>
                        </div>
                        {% set retailprice = (listing.retailprice / 100) | format_price(app.request.locale, 0) %}
                        {% set price = (listing.price / 100) | format_price(app.request.locale, 0) %}
                        <div class="listing-info">
                            <h3 class=""><b>Retail Price:</b> {{ retailprice }}</h3>
                            <h2 class="color-pink">Rental Price: {{ price }}</h2>
                            <h3><b>Size:</b> Medium</h3>
                            <h3><b>Colour:</b> Salmon Pink</h3>
                        </div>

                        <div class="action-box row">
                            <div class="col-xs-12 col-md-6">
                                <a class=""><h3><img class="bag" src="{{ asset('images/bag.png') }}"> Add to Bag</h3></a>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a href="javascript:void(0)" id="favourite-{{ listing.id }}" class="favourit">
                                    <h3>
                                        <sm>
                                            <i class="fa fa-heart-o"></i>
                                            <i class="fa fa-heart"></i>
                                        </sm>
                                     Add to Favorites </h3>
                                    <span class="hidden">favourit</span>
                                </a>
                            </div>
                        </div>
                        <div id="sizefit-box" class="row info-section">
                            <a data-toggle="collapse" data-target="#sizefit-info"><h3>Size& Fit Information &nbsp;&nbsp;<i class="fa fa-plus"></i><i class="fa fa-minus"></i></h3></a>
                            <div id="sizefit-info" class="collapse in">
                                <p>Fits true to your size, take your normal size.
                                        · Designed to be fitted at the bust and loose
                                         at the waist
                                        · Mid-weight, slightly stretchy fabric.
                                        · Model is 175 cm/ 5’ 9” and is wearing size Small </p>
                            </div>
                        </div>

                        <div id="ownernote-box" class="row info-section">
                            <a data-toggle="collapse" data-target="#note-info" class="collapsed"><h3>Owner’s Notes &nbsp;&nbsp;<i class="fa fa-plus"></i><i class="fa fa-minus"></i></h3></a>
                            <br/>
                            <div id="note-info" class="collapse">
                                <p>{{ listing.salenotes }}</p>
                            </div>
                        </div>

                        <div id="pair-with">
                            <h2>Pair this with:</h2>
                            <h3>JIMMY CHOO</h3>
                            <h4>Shoes</h4>
                            <h3>MICHAEL KORRS</h3>
                            <h4>Handbag</h4>
                            <h3>JENNIFER FISHER</h3>
                            <h4>Jewellry</h4>

                        </div>
                        {# similar results#}
                        {{ render(controller('CocoricoCoreBundle:Frontend/ListingSearch:similarListing',
                        { 'id': listing.id }
                        )) }}
                    </div>
                </aside> <!-- /.sidebar -->
            </div> <!-- /.twocolumns -->

            <div id="howtowearit" class="row">

            </div>
        </div>
            
        {% endblock %}
        {% block modal %}
            {% include 'CocoricoCoreBundle:Frontend/Common:_modal.html.twig' only %}
        {% endblock %}
    {% endembed %}
{% endblock layout %}




{% block javascripts %}
    {{ parent() }}

    {#Calendar #}
    {% javascripts
    'js/vendor/fullcalendar/fullcalendar.min.js'
    'js/vendor/fullcalendar/lang-all.js'

    filter="jsqueeze" output='js/compiled/calendar.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% include '@CocoricoCore/Frontend/Listing/js/_calendar_js.html.twig' with {
    'calendar_elt': '#fc-calendar',
    'listing_id': listing.id,
    'default_price': price,
    'edit_mode': false,
    'edit_type': false
    } only %}

    <script>
        $(function () {
            //Map
            {% if not displayMarker %}
            var circle = new google.maps.Circle({
                map: map,
                center: latlng,
                strokeColor: '#0000EE',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#0000EE',
                fillOpacity: 0.1,
                radius: 200
            });
            {% endif %}

            //Compute booking price when page load if booking dates exists
            submitDatePickerAjaxForm(function () {
                jcf.replaceAll("#booking-price-form");
            });

            // Set default favourites in the listing
            setDefaultFavourites();

            // Categories
            initMultiSelect(
                    '#categories',
                    '{{ "multiselect.all_selected"|trans({}, "cocorico") }}',
                    '{{ "multiselect.none_selected"|trans({}, "cocorico") }}',
                    '{{ "multiselect.num_selected"|trans({}, "cocorico") }}'
            );
        });
    </script>
    
{% endblock %}



{% block markup_jsonld %}
    {{ parent() }}
{% endblock %}