{% trans_default_domain 'cocorico' %}


<div class="row">        
    <form id="category_form" method="get" action="/en/listing/search_result" novalidate="novalidate">
    <input id="searchword" type="hidden" value="" name="searchword">
    <input type="hidden" id="page" name="page" value="1">
    <div id="menu" class="col-xs-10">
        <nav class="navbar navbar-default">
            <div id="nav" class="collapse navbar-collapse">
                <ul class="nav nav-justified">
                    <li>
                        <a href="{{ path('cocorico_home') }}"
                            tabindex="8"> {{ 'nav.menu.home'|trans }}
                        </a>
                    </li>
                    {% for menu in homemenus %}
                        <li class="dropdown">                                
                            <a href="{{ path('cocorico_page_show', { 'slug': 'nav.who_we_are.slug'|trans }) }}"
                            class="dropbtn"> {{ menu.name }}
                            </a>
                            <!-- .dropdown-content -->
                            <div class="dropdown-content">
                                <div class="row">
                                    <!-- .col-md-6 -->
                                    <div class="col-md-6">                                        
                                        <ul>
                                            <h2 class="text-left color-pink">{{ menu.title }}</h2>
                                            {% if menu.title == "Editor's Picks" %}
                                                <li><a href="">Editor's Picks</a></li>
                                                <li><a href="{{ path('cocorico_listing_search_result_week') }}">Added this week</a></li>
                                                <li><a href="{{ path('cocorico_listing_search_result_month') }}">Added this month</a></li>
                                                <li><a href="">Featured Gallery</a></li>
                                            {% elseif menu.title == "Designers" %}
                                            <div class="inner-addon left-addon">
                                                <i class="fa fa-search"></i>
                                                <input type="text" class="form-control" id="designers" placeholder="Search for names..">
                                            </div>                                            
                                            <ul id="designers_fav">
                                                {% for fav_designer in designers if fav_designer.favorite == true %}
                                                    <li><a href="{{ path('cocorico_listing_search_result',{'designer': fav_designer.id, 'page' : '1'}) }}">{{ fav_designer.name }}</a></li>
                                                {% endfor %}
                                            </ul>                                            
                                            <ul id="designers_ul" size="10">
                                                {% for designer in designers %}
                                                    <li><a href="{{ path('cocorico_listing_search_result',{'designer': designer.id, 'page' : '1'}) }}">{{ designer.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                            {% else %}
                                                {% set browseall = [] %}
                                                {% for category in categories %}
                                                    {% if category.parent != null %}
                                                        {% if category.parent.name == menu.title %}
                                                        {% set browseall = browseall|merge([category.id]) %}
                                                        {% set one_arr = [] %}
                                                        {% set one_arr = one_arr|merge([category.id])%}
                                                            <li><a href="{{ path('cocorico_listing_search_result_category', {'categories': one_arr, 'page': '1'}) }}">{{ category.name }}</a></li>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                <li><a href="{{ path('cocorico_listing_search_result_category', {'categories': browseall, 'page': '1'}) }}">Browse All</a></li>
                                            {% endif %}
                                        </ul>
                                    </div> <!-- /.col-md-6 -->
                                    <!-- .col-md-6 -->
                                    <div class="col-md-6">
                                        <div class="img-container">
                                            {% set imgurl = 'images/upload/menuimgs/' ~ menu.imgname %}
                                            <img src="{{ asset( imgurl | imagine_filter('menu_category'))  }}">
                                            <p class="text-right">{{ menu.description }} </p>
                                        </div>                                        
                                    </div> <!-- /.col-md-6 -->
                                </div><!-- /.row -->
                            </div> <!-- /.dropdown-content -->
                        </li><!-- /.dropdown -->
                    {% endfor %}
                    
                </ul>                
            </div><!-- /#nav -->            
        </nav>
    </div> <!-- /#menu -->
    </form>
    <div id="search-ajaxform" class="col-xs-2">
        {{ render(controller('CocoricoCoreBundle:Frontend/ListingSearch:searchHomeForm')) }}
    </div>
</div><!-- /.row -->