{% extends '::base.html.twig' %}

{% trans_default_domain 'cocorico_listing' %}

{% set location = listing_search_request.location %}
{% set searchword = listing_search_request.searchword %}

{# SEO #}
{% set seo_title = 'listing.search.result.title'|trans({'%listing_search_request%': searchword }) %}
{% set seo_desc = '' %}
{% set seo_meta_tile = 'listing.search.result.meta_title'|trans({'%listing_search_request%': location.address }, 'cocorico_meta') ~ " - " ~ cocorico_site_name %}
{% set seo_meta_desc = 'listing.search.result.meta_desc'|trans({'%nb_results%': nb_results}, 'cocorico_meta') %}

{% if seo_content|default(null) %}
    {% set seo_title = seo_content.title %}
    {% set seo_desc = seo_content.description %}
    {% set seo_meta_tile = seo_content.metaTitle %}
    {% set seo_meta_desc = seo_content.metaDescription %}
{% endif %}

{%- block meta_title -%}
    {{ seo_meta_tile }}
{%- endblock -%}

{%- block meta_description -%}
    {{ seo_meta_desc }}
{%- endblock -%}
{# END SEO #}

{% block stylesheets %}
    {{ parent() }}

    <style>
        #map-canvas {
            width: {{ listing_search_map_w }}px;
            height: {{ listing_search_map_h }}px;
        }
    </style>
{% endblock %}


{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}
        {% trans_default_domain 'cocorico_listing' %}

        {% block search_form %}
            {{ render(controller('CocoricoCoreBundle:Frontend/ListingSearch:searchResultForm')) }}
        {% endblock %}

        {% block main %}
            <div class="col-sm-10 col-xs-12">
                <h1>
                    {{ seo_title }}
                    <small>
                        {{ 'listing.search.result.results'|trans({'%nb_results%': nb_results}) }}
                    </small>
    
                    {% if bundleExist('CocoricoListingAlertBundle') %}
                        <div class="listing-alert">
                            <a href="{{ path('cocorico_listing_alert_new') }}" data-id="listing-alert"
                                class="btn btn-default">
                                {{ "listing.search.result.alert.link"|trans }}
                            </a>
                        </div>
                        <div data-id="listing-alert-dialog"></div>
                    {% endif %}
    
                </h1>
                {#TO NOT DELETE#}
                <div data-id="seo-desc">
                    {{ seo_desc|raw }}
                </div>
    
                <!-- two-columns -->
                <div class="twocolumns row">
                    <!-- postarea -->
                    <section class="listing-area col-xs-12 col-sm-12">
                        <div class="listing-holder row">
                            <!-- post -->
                            {%- for listing in results -%}
                                {% set listing = listing[0] %}
                                {% set listing_translation = listing.translations[app.request.locale] %}
                                {% set listing_location = listing.location %}
                                {% set listing_user = listing.user %}
                                {% set listing_designer = listing.designer %}
                                {% set price = (listing.price / 100) | format_price(app.request.locale, 0) %}
                                {% set retailprice = (listing.retailprice / 100) | format_price(app.request.locale, 0) %}
                                {% set listing_image = listing.images|length ? listing.images[0].name : ListingImageConstants.IMAGE_DEFAULT %}
                                {% set user_image = listing_user.images|length ? listing_user.images[0].name : UserImageConstants.IMAGE_DEFAULT %}
    
                                <article class="listing-post col-md-3 col-sm-6 col-xs-12">
                                    <a href="javascript:void(0)" id="favourite-{{ listing.id }}" class="favourit">
                                        <i class="fa fa-heart-o"></i>
                                        <i class="fa fa-heart"></i>
                                        <span class="hidden">favourit</span>
                                    </a>
                                    <a href="{{ path('cocorico_listing_show', { 'slug': listing_translation.slug }) }}"
                                        class="listing-box">
                                        <div class="frame">
    
                                            <div class="post-info">
                                                <div class="img-holder">
                                                    <img src="{{ (ListingImageConstants.IMAGE_FOLDER ~  listing_image) | imagine_filter('listing_large') }}"
                                                            alt="{{ listing_translation.title ~ " " ~ price }}"/>
                                                </div>
                                            </div>
    
                                            <div class="post-content">                                                
                                                <div class="textbox">
                                                    <h2>{{ listing_designer != null ? listing_designer.name|upper : '' }}</h2>
                                                    <h2>{{ listing_translation.title }}</h2>
                                                    <h2>{{ retailprice }}</h2>
                                                    <div class="row">
                                                        <h2 class="color-pink col-sm-6" >{{ price }}</h2>
                                                        <p class="color-pink col-sm-6 text-right">ADD TO CLOSET</p>
                                                    </div>
                                                    <!--Debug:
                                                    accuracy : {{ listing["accuracy"]|default(0) }}<br />
                                                    distance : {{ listing["distance"]|default(0) }}<br />
                                                    platformNotation : {{ listing.platformNotation|default(0) }}<br />
                                                    reallyAvailable : {{ listing["really_available"]|default(0) }}<br />
                                                    -->
                                                </div> <!-- /.text-box -->
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            {%- endfor -%}
                        </div>
    
                        {% include '@CocoricoCore/Frontend/Common/_pagination.html.twig' with {
                        'pagination': pagination
                        } only %}
    
                    </section>
                </div>
    
                {#TO NOT DELETE#}
                <div data-id="seo-desc-moved"></div>
            </div>            
        {% endblock %}

        {% block modal %}
            {% include 'CocoricoCoreBundle:Frontend/Common:_modal.html.twig' only %}
        {% endblock %}

        {#{% block footer %}#}
        {#{{ parent() }}#}
        {#{% endblock %}#}

    {% endembed %}

{% endblock layout %}


{% block javascripts %}
    {{ parent() }}

    {#Extend search area if not enough results#}
    {% set extendSearch = nb_results < listingSearchMinResult %}

    {#Geocoding #}
    {% include '@CocoricoCore/Frontend/ListingResult/js/_geocoding_js.html.twig' with {
    'map_elt': '#map-canvas',
    'auto_complete_elt': '#location',
    'default_lat': location.lat,
    'default_lng': location.lng,
    'extend_search': extendSearch
    } only %}

    {#Extend search call#}
    {% set parentLocation, modalMessage = '', '' %}
    {% if extendSearch %}
        {% set parentLocation = location.getParentLocation() %}
        {% set modalMessage = 'cocorico.search.extended.warning %location%'|trans({'%location%': parentLocation.address  }, 'cocorico') %}
        <script>
            $(function () {
                var parentLocation = '{{ parentLocation|json_encode( constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_HEX_APOS') )|e('js') }}';
                parentLocation = $.parseJSON(parentLocation);
                extendSearchLocationFunc(parentLocation.address, parentLocation.type, '#modal', '{{ modalMessage }}');
            });
        </script>
    {% endif %}

    <script type="text/javascript">
        $( document ).ready( function () {
            handleSidebarMenu();
        });
        
        var handleSidebarMenu = function () {
            $(".sidebar .dropdown > a").click(function (event) {
                if ($(this).next().hasClass('dropdown-menu')) {
                    event.preventDefault();
                    if ($(this).hasClass("collapsed") == false) {
                        $(this).addClass("collapsed");
                        $(this).siblings(".dropdown-menu").slideDown(300);
                    } else {
                        $(this).removeClass("collapsed");
                        $(this).siblings(".dropdown-menu").slideUp(300);
                    }
                } 
            });
        }
    </script>

    <script>
        $(function () {
            /*
            //Refresh map on load
            refreshMapFunc('{{location.viewport }}', '{{ location.lat }}', '{{ location.lng }}');

            //Set listings markers on load
            var markers = '{{ markers|json_encode(constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_HEX_APOS') )|e('js') }}';
            setMarkersFunc($.parseJSON(markers));
            */
            // Set default favourites in the listing
            setDefaultFavourites();

            //Select change submit the form
//            $("select[id^='characteristics_'], select#sort_by").change(function (e) {
//                $(this).closest('form').submit();
//            });
//            $(".ui-slider").on("slidestop", function (event, ui) {
//                $(this).closest('form').submit();
//            });

            // Categories
           /* initMultiSelect(
                    '#categories',
                    '{{ "multiselect.all_selected"|trans({}, "cocorico") }}',
                    '{{ "multiselect.none_selected"|trans({}, "cocorico") }}',
                    '{{ "multiselect.num_selected"|trans({}, "cocorico") }}'
            );*/

            $(".datepicker").datepicker({
                dateFormat: "dd/mm/yy"
            });

            //Listing alert (See form_search.html.twig, common.js)
            var $dialog = $("div[data-id=listing-alert-dialog]").initDialogForm(400);

            $("a[data-id=listing-alert]").on('click', function (e) {
                e.preventDefault();
                $dialog.openDialog($(this).attr("href"), "");
                return false;
            });

            //Move seo desc to bottom
            $("[data-id=seo-desc]").appendTo("[data-id=seo-desc-moved]");
        });
    </script>
{% endblock %}



{% block markup_jsonld %}
    {{ parent() }}

    {% include '@CocoricoSeo/Frontend/ListingResult/_result_markup.jsonld.twig' ignore missing with {
    'listings': results
    } only %}
{% endblock %}