{% trans_default_domain 'cocorico' %}

<!-- header of the page -->
<header id="header">    

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- main navigation of the page -->
                <nav class="navbar navbar-default topnav">
                    <!-- Brand and toggle get grouped for better mobile display -->                    
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#nav" tabindex="2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- page logo -->
                        <a class="navbar-brand color-pink" href="{{ path('cocorico_home') }}" tabindex="3">
                            iShareCloset
                        </a>
                    </div>

                    <div class="logo">
                        <a href="{{ path('cocorico_home') }}">
                            <img src="{{ asset('images/logo.png') }}" alt="{{ 'nav.home.link'|trans }}" width="55"
                            height="130">
                        </a>                            
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <img class="bag" src="{{ asset('images/bag.png') }}">
                                <a class="color-pink" href="{{ path('cocorico_page_show', { 'slug': 'nav.who_we_are.slug'|trans }) }}"
                                   tabindex="4"> $0.00
                                </a>
                            </li>
                            <li>
                                <img class="heart" src="{{ asset('images/heart.png') }}">
                                <a class="color-pink" href="{{ path('cocorico_listing_favourite') }}"
                                tabindex="5"> {{ 'nav.favorites.link'|trans }}
                                    <span id="fav-count"></span>
                                </a>
                            </li>

                            {# User info #}
                            {%- if app.user is not null and is_granted("IS_AUTHENTICATED_FULLY") -%}
                                <li id="dashboard-dropdown" class="dropdown">
                                    <a id="dashboard-link" class="dropdown-toggle"
                                       href="{{ path('cocorico_user_dashboard_profile_edit_about_me') }}" tabindex="6"
                                       title="My Dashboard" data-toggle="dropdown" role="button" aria-expanded="false">
                                        {{ 'nav.dashboard.link'|trans }} ({{ app.user.firstName | capitalize }})
                                        <span id="nb-unread-msg"></span>
                                        <span class="icon-down-open-mini"></span>
                                    </a>
                                    {% include '@CocoricoCore/Frontend/Common/_nav.html.twig' with {'nav_dashboard_current':''} only %}
                                </li>
                            {%- else -%}
                                <li>
                                    <a class="color-pink" href="{{ path('cocorico_user_register') }}" tabindex="6">
                                        {{ 'nav.register.link'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a class="color-pink" href="{{ path('cocorico_user_login') }}" tabindex="7">
                                        {{ 'nav.login.link'|trans }}
                                    </a>
                                </li>
                            {%- endif -%}                     
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>            
        </div>
    </div>

    <div id="menu" class="col-xs-12">
        <nav class="navbar navbar-default">
            <div id="nav">
                <ul class="nav nav-justified">
                    <li>                                
                        <a href="{{ path('cocorico_page_show', { 'slug': 'nav.who_we_are.slug'|trans }) }}"
                           tabindex="8"> {{ 'nav.menu.home'|trans }}
                        </a>
                    </li>
                    <li>                                
                        <a href="{{ path('cocorico_page_show', { 'slug': 'nav.who_we_are.slug'|trans }) }}"
                           tabindex="9"> {{ 'nav.menu.whatnew'|trans }}
                        </a>
                    </li>
                    <li>                                
                        <a href="{{ path('cocorico_page_show', { 'slug': 'nav.who_we_are.slug'|trans }) }}"
                           tabindex="10"> {{ 'nav.menu.featurecollect'|trans }}
                        </a>
                    </li>
                    <li>                                
                        <a href="{{ path('cocorico_page_show', { 'slug': 'nav.who_we_are.slug'|trans }) }}"
                           tabindex="11"> {{ 'nav.menu.designers'|trans }}
                        </a>
                    </li>
                    <li>                                
                        <a href="{{ path('cocorico_page_show', { 'slug': 'nav.who_we_are.slug'|trans }) }}"
                           tabindex="12"> {{ 'nav.menu.clothing'|trans }}
                        </a>
                    </li>
                    <li>                                
                        <a href="{{ path('cocorico_page_show', { 'slug': 'nav.who_we_are.slug'|trans }) }}"
                           tabindex="13"> {{ 'nav.menu.shoes'|trans }}
                        </a>
                    </li>
                    <li>                                
                        <a href="{{ path('cocorico_page_show', { 'slug': 'nav.who_we_are.slug'|trans }) }}"
                           tabindex="14"> {{ 'nav.menu.bags'|trans }}
                        </a>
                    </li>
                    <li>                                
                        <a href="{{ path('cocorico_page_show', { 'slug': 'nav.who_we_are.slug'|trans }) }}"
                           tabindex="15"> {{ 'nav.menu.accessories'|trans }}
                        </a>
                    </li>
                </ul>
            </div><!-- /#nav -->
        </nav>
    </div>
</header>