{% trans_default_domain 'cocorico_booking' %}

<section class="reservation ajax-container">

    <div class="date-selection">
        {% if app.request.isXmlHttpRequest %}
            {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}
        {% endif %}

        {{ form_errors(form) }}

        <div id="time-error" class="errors" style="display:none">
            <i class="icon-error-field"></i>
            {{ 'time_range.invalid.end_before_start'|trans({}, 'cocorico') }}<br>
        </div>

        <fieldset>
            <legend class="hidden">date-selection</legend>

            {{ form_widget(form.date_range) }}

            {% if not timeUnitIsDay %}
                {{ form_widget(form.time_range) }}
            {% endif %}

            <input type="submit" class="hidden">
        </fieldset>
    </div>

    <script>
        $( document ).ready( function(){
            var today = new Date();
            var month = today.getMonth()+1;
            var day = today.getDate();
            
            var output = (day<10 ? '0' : '') + day + '/' +
                (month<10 ? '0' : '') + month + '/' +
                today.getFullYear();
            $('#start-date').val(output);
            var days = 14;
            var end_date = today;
            end_date.setDate(today.getDate() + days);

            // Get String of End Date
            var month = end_date.getMonth()+1;
            var day = end_date.getDate();

            var output = (day<10 ? '0' : '') + day + '/' +
            (month<10 ? '0' : '') + month + '/' +
            end_date.getFullYear();
            $('#end-date').val(output);
            $("#start-date").datepicker({ 
                dateFormat: 'dd/mm/yy',
                onSelect: function(dateText, inst) {
                    // Get Start_date
                    var start_date =  $.datepicker.parseDate("dd/mm/yy",  dateText);
                    // Check if date is valid
                    if (isNaN(start_date.valueOf()))
                        // Invalide date
                        return;
                    
                    // Number of Days to add
                    var days = 14;
                    if($('#two_week').hasClass('selected'))
                    {
                        days = 14;
                    }
                    else
                    {
                        days = 28;                    
                    }
                    output = getDesiredDate(start_date ,days);
                    
                    $('#end-date').val(output);
                    
                }
            });

            $('#start-date').on('change', function(){
                
            });
            $('#two_week').on('click', function(){
                // Toggle Effect
                $('#two_week').addClass('selected');
                $('#four_week').removeClass('selected');

                // Get Start_date
                var start_date =  $.datepicker.parseDate("dd/mm/yy",  $('#start-date').val());

                // Check if date is valid
                if (isNaN(start_date.valueOf()))
                    // Invalide date
                    return;

                // Number of Days to add
                var days = 14;

                output = getDesiredDate(start_date ,days);
                
                $('#end-date').val(output);
            });
            $('#four_week').on('click', function(){
                // Toggle Effect
                $('#four_week').addClass('selected');
                $('#two_week').removeClass('selected');

                // Get Start_date
                var start_date =  $.datepicker.parseDate("dd/mm/yy",  $('#start-date').val());
                
                // Check if date is valid
                if (isNaN(start_date.valueOf()))
                    // Invalide date
                    return;

                // Number of Days to add
                var days = 28;

                output = getDesiredDate(start_date ,days);
                
                $('#end-date').val(output);
            });

            function getDesiredDate(startdate, days)
            {
                start_date = startdate;
                // Get End_Date
                var end_date = start_date;
                end_date.setDate(start_date.getDate() + days);

                // Check if end date is valid
                if (isNaN(end_date.valueOf()))
                // Invalide date
                    return null;

                // Get String of End Date
                var month = end_date.getMonth()+1;
                var day = end_date.getDate();

                var output = (day<10 ? '0' : '') + day + '/' +
                (month<10 ? '0' : '') + month + '/' +
                end_date.getFullYear();
                return output;
            }
            
        });
        $(function () {
            var timeUnitIsDay = {{ timeUnitIsDay ? 'true' : 'false' }};

            initDatePickerAjax(function () {
                jcf.replaceAll("#booking-price-form");
            });
            
            /*
            var $form = $("#booking-price-form");

            $form.submit(function () {
                //Remove price and submit button
                //Disable fields and add loading until form is rendered
                $(this).find("input").attr("readonly", "readonly");
                $(this).find("select option:not(:selected)").each(function () {
                    $(this).attr('disabled', 'disabled');
                });
                $(".add-info .price, .add-info .loading, a#submit-booking").remove();
                $(".add-info").prepend('<img class="loading" src="{{ asset("images/loading.gif") }}" /><br>');
            });

            $("#submit-booking").click(function (e) {
                e.preventDefault();
                var $errors = $form.find('div.errors');
                //Submit form if no errors
                if (!$errors.length || ($errors.length && !$errors.is(":visible"))) {
                    if ($("#start-date").val() && $("#end-date").val()) {
                        if (timeUnitIsDay) {
                            $form.submit();
                        } else {
                            var $holderTimes = $form.find(".time-fields");
                            var $startHour = $holderTimes.find("[id$=_start_hour]").first();
                            var $endHour = $holderTimes.find("[id$=_start_minute]").first();
                            var $startMinute = $holderTimes.find("[id$=_end_hour]").first();
                            var $endMinute = $holderTimes.find("[id$=_end_minute]").first();

                            if ($startHour.val() && $endHour.val() && $startMinute.val() && $endMinute.val()) {
                                $form.submit();
                            }
                        }
                    }
                }
            });
            */

        });
    </script>
</section>
