{% extends '::base.html.twig' %}

{% set user_images = user.images %}
{% set user_description = "" %}
{% if  user.translations[app.request.locale] is defined %}
    {% set user_description = user.translations[app.request.locale].description %}
{% endif %}
{% set user_address = user.getAddresses %}
{% set user_address = (user_address is empty) ? null : user_address[0] %}


{%- block meta_title -%}
    {{ 'user.show.meta_title'|trans({}, 'cocorico_meta') ~ " "  ~ user.name ~ " - " ~ cocorico_site_name }} }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'user.show.meta_desc'|trans({}, 'cocorico_meta') ~ " " ~ user_description|truncate(200, true) }}
{%- endblock -%}


{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'cocorico_user' %}

        {% block main %}
            <!-- two-columns -->
            <div id="profile" class="twocolumns row container">
                <div class="col-md-10 col-md-offset-1">
                    <!-- contain the main content of the page -->
                    <h3 class="text-right">/ Profile</h3>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="img-container">
                                {% if user_images|length %}
                                    {% set image = user_images[0]%}
                                    <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ image.name) | imagine_filter('user_profile') }}"
                                        alt="{{ user.firstName }}"/>
                                {% else %}
                                    <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ UserImageConstants.IMAGE_DEFAULT) | imagine_filter('user_profile') }}"
                                        alt="{{ user.firstName }}"/>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h1 class="profile-name color-pink">{{ user.name }}</h1>
                            <div class="row description">
                                <p>
                                    {% if user_description %}
                                    {{ user_description }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row profile-detail">
                        <div class="col-md-5 profile-favourite">
                            <h3 class="color-pink">Favorite closet items right now : </h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="img-container fav-1">
                                        <img src="{{ asset('images/favourite_1.png') }}">
                                    </div>
                                    <div class="img-container fav-2">
                                        <img src="{{ asset('images/favourite_2.png') }}">
                                    </div>                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="img-container fav-3">
                                        <img src="{{ asset('images/favourite_3.png') }}">                                        
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 profile-style">
                            <h3 class="color-pink">My Style is:</h3>
                            <p>Casual but elegant; at vero eos et accusamus
                                    et iusto odio</p>
                            <h3 class="color-pink">Favorite Designers:</h3>
                            <div class="fav-designers">
                                <p> Zimmermann </p>
                                <p> Dior </p>
                                <p> Alex Perry </p>
                            </div>
                        </div>
                    </div>                    
                </div> <!-- col-md-10 col-md-offset-1 -->
            </div> <!-- /.container -->
        {% endblock %}

    {% endembed %}
{% endblock layout %}




{% block javascripts %}
    {{ parent() }}

    {% include '@CocoricoCore/Frontend/ListingResult/js/_geocoding_js.html.twig' with {
    'map_elt': '',
    'auto_complete_elt': '#location'
    } only %}

    <script>
        $(function () {
            // Categories
            initMultiSelect(
                    '#categories',
                    '{{ "multiselect.all_selected"|trans({}, "cocorico") }}',
                    '{{ "multiselect.none_selected"|trans({}, "cocorico") }}',
                    '{{ "multiselect.num_selected"|trans({}, "cocorico") }}'
            );
        });
    </script>
{% endblock %}

{% block markup_jsonld %}
    {{ parent() }}

    {% include '@CocoricoSeo/Frontend/Profile/_show_markup.jsonld.twig' ignore missing with {
    'user': user,
    'user_listings': user_listings,
    'user_description': user_description,
    'user_address': user_address
    } only %}
{% endblock %}